html, body{
    background:rgba(111,45,253,1);
    background: linear-gradient(0deg, rgba(111,45,253,1) 0%, rgba(58,34,195,1) 88%);
    width: 100%;
    height: 100%;
    align-content: center;
    font-family: 'Muli', sans-serif;
    overflow: hidden;
}
.form {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 5%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    position: absolute;
    top:15%;
    left:35%;
}



.input{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 40px;
    font-size: 20px;
}

.buttons {
    background-color: rgba(255, 255, 255, 0.0);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    height: 50px;
}